<div class='card'>
    <div class='card-header'>
        {{pageTitle}}
    </div>

    <div class='card-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
              <input type='text' [(ngModel)]='listFilter' />
            </div>
          </div>

          <div class='row'>
            <div class='col-md-6'>
              <h4>Filtered by: {{listFilter}}</h4>
            </div>
        </div>
        
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr style="text-align:center">
                        <th>Employee Id</th>
                        <th>Employee Name</th>
                        <th>Designation</th>
                        <th>Salary</th>
                        <th>Employee Code</th>
                    </tr>
                </thead>
                <tbody style="text-align:center">
                    <tr *ngFor="let employee of filteredEmployees">
                        <td>
                            <a routerLink = '/employees/{{ employee.employeeId }}'>
                                {{ employee.employeeId }}
                            </a>
                        </td>
                        <td>{{ employee.employeeName }}</td>
                        <td>{{ employee.employeeDesignation }}</td>
                        <td>{{ employee.salary | currency:"USD" }}</td>
                        <td>{{ employee.employeeCode | ConvertHyphens : '-' : 'left' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>