<div class='card'>
    <div class='card-header'>
        {{pageTitle}}
    </div>

    <div class='card-body'>
        <table class='table'>
            <thead>
                <tr>
                    <th>Employee Id</th>
                    <th>Employee Name</th>
                    <th>Designation</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employeeList">
                    <td>
                        <a routerLink = '/employees/{{ employee.employeeId }}'>
                            {{ employee.employeeId }}
                        </a>
                    </td>
                    <td>{{ employee.employeeName }}</td>
                    <td>{{ employee.employeeDesignation }}</td>
                    <td>{{ employee.salary | currency:"USD" }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>